server:
  port: 8082

spring:
  main:
    allow-bean-definition-overriding: true
  cloud:
    config:
    enabled: false
  application:
    name: transaction-service
  datasource:
    url: jdbc:mysql://localhost:3306/transactiondb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


app:
  security:
    jwt:
      secret: ZDIzYzIyYjYxZDM5ZjY2ZDU2MTZmMWY5YjQzYzIyYjYxZDM5ZjY2ZA==
      audience: rewards-platform
      issuer: user-service

tx:
  kafka:
    topic:
      created: transaction.created.v1
  outbox:
    batch-size: 50
    max-retries: 5
    publish-interval-ms: 1000
